@font-face {
    font-family: "Pecita";
    src: url("../fonts/Pecita.otf") format("opentype");
}

html {
    font-family: "Pecita", serif;
}

.custom-button, option, select, input {
    font-family: "Pecita", serif;
}

.clock {
    display: block;
    margin: 0 auto;
    background: white;
    border: 2px solid #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #25CED1;
    text-align: center;
    font-size: 1.5em;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#header-navigation {
    margin-left: 20px;
}

/*.button-link {*/
/*    display: inline-block;*/
/*    padding: 8px 16px;*/
/*    margin: 4px;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    background-color: #FF8A5B;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    border-radius: 4px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.button-link:hover {*/
/*    background-color: #FF6F3C;*/
/*}*/

/*.button-link:active {*/
/*    background-color: #FF5A26;*/
/*}*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    margin: 0;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    width: 55%;
}

.canvas-container {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.full-width {
    grid-column: span 2;
}

.centered {
    font-size: 1.3em;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.custom-button {
    background: white;
    border: 3px solid #EA526F;
    border-radius: 13px;
    width: 120px; /* Увеличиваем ширину для лучшего выравнивания */
    height: 40px;
    color: #EA526F;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;
}

.custom-button:active {
    background: #EA526F;
    color: white;
    transform: scale(0.95);
}

.button-link {
    display: inline-block;
    padding: 8px 16px;
    margin: 4px;
    font-size: 16px;
    color: #fff;
    background-color: #25CED1;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-link.active {
    background-color: #25CEB0;
}

.button-link:hover {
    background-color: #25CEB0;
}

.button-link:active {
    background-color: #25CE99;
}

#resultTable {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

#resultTable thead tr {
    color: white;
    background-color: #FF8A5B;
    font-size: 1.2em;
    padding: 10px;
}

#resultTable td {
    text-align: center;
    padding: 5px;
}

#notification-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.notification {
    padding: 10px;
    color: #fff;
    background-color: #EA526F;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.notification.hide {
    opacity: 0;
    transform: translateY(-20px);
}
